USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 07/09/2022 10:48:25 AM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QLTV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QLTV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[tblCTMuonTra]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTMuonTra](
	[mamuontra] [nvarchar](25) NOT NULL,
	[masach] [nvarchar](20) NOT NULL,
	[ngaytra] [date] NULL,
	[tinhtrang] [nvarchar](10) NULL,
	[ghichu] [nvarchar](max) NULL,
 CONSTRAINT [pk_ctmuontra] PRIMARY KEY CLUSTERED 
(
	[mamuontra] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDocGia]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocGia](
	[madocgia] [nvarchar](20) NOT NULL,
	[hotendg] [nvarchar](50) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[gioitinh] [nvarchar](10) NULL,
	[sdt] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[diachi] [nvarchar](max) NULL,
	[sothe] [int] NOT NULL,
 CONSTRAINT [PK__tblDocGi__4AC2A9D9DD8CE9C8] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblDocGi__AB6E61645CADC57B] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblDocGi__DDDFB483B64D6EA4] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMuonTra]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMuonTra](
	[mamuontra] [nvarchar](25) NOT NULL,
	[sothe] [int] NOT NULL,
	[mathuthu] [nvarchar](20) NOT NULL,
	[ngaymuon] [date] NOT NULL,
	[hantra] [date] NOT NULL,
 CONSTRAINT [pk_muontra] PRIMARY KEY CLUSTERED 
(
	[mamuontra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[mathuthu] [nvarchar](20) NOT NULL,
	[hotentt] [nvarchar](50) NOT NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [nvarchar](10) NULL,
	[sdt] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[tendangnhap] [varchar](50) NULL,
	[matkhau] [varchar](32) NULL,
	[chucvu] [nvarchar](10) NULL,
 CONSTRAINT [PK__tblNhanV__EED5DA73522A9511] PRIMARY KEY CLUSTERED 
(
	[mathuthu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblNhanV__AB6E6164AE2878F2] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblNhanV__CE900A1E6E89F174] UNIQUE NONCLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblNhanV__DDDFB48377EBE2E1] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhaXuatBan]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaXuatBan](
	[maNXB] [nvarchar](20) NOT NULL,
	[tenNXB] [nvarchar](50) NULL,
	[diachi] [nvarchar](max) NOT NULL,
	[sdt] [varchar](20) NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSach]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSach](
	[masach] [nvarchar](20) NOT NULL,
	[tensach] [nvarchar](100) NULL,
	[matacgia] [nvarchar](20) NOT NULL,
	[matheloai] [nvarchar](20) NOT NULL,
	[maNXB] [nvarchar](20) NOT NULL,
	[namxuatban] [int] NULL,
	[tinhtrangmuon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTacGia]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTacGia](
	[matacgia] [nvarchar](20) NOT NULL,
	[tentacgia] [nvarchar](50) NOT NULL,
	[ghichu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheLoai]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoai](
	[matheloai] [nvarchar](20) NOT NULL,
	[tentheloai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tentheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheThuVien]    Script Date: 07/09/2022 10:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheThuVien](
	[sothe] [int] IDENTITY(1,1) NOT NULL,
	[ngaybatdau] [date] NOT NULL,
	[ngayhethan] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sothe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCTMuonTra]  WITH CHECK ADD  CONSTRAINT [fk_ctmuontra_muontra] FOREIGN KEY([mamuontra])
REFERENCES [dbo].[tblMuonTra] ([mamuontra])
GO
ALTER TABLE [dbo].[tblCTMuonTra] CHECK CONSTRAINT [fk_ctmuontra_muontra]
GO
ALTER TABLE [dbo].[tblCTMuonTra]  WITH CHECK ADD  CONSTRAINT [fk_ctmuontra_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[tblSach] ([masach])
GO
ALTER TABLE [dbo].[tblCTMuonTra] CHECK CONSTRAINT [fk_ctmuontra_sach]
GO
ALTER TABLE [dbo].[tblDocGia]  WITH CHECK ADD  CONSTRAINT [FK__tblDocGia__sothe__59063A47] FOREIGN KEY([sothe])
REFERENCES [dbo].[tblTheThuVien] ([sothe])
GO
ALTER TABLE [dbo].[tblDocGia] CHECK CONSTRAINT [FK__tblDocGia__sothe__59063A47]
GO
ALTER TABLE [dbo].[tblMuonTra]  WITH CHECK ADD  CONSTRAINT [FK__tblMuonTr__mathu__5EBF139D] FOREIGN KEY([mathuthu])
REFERENCES [dbo].[tblNhanVien] ([mathuthu])
GO
ALTER TABLE [dbo].[tblMuonTra] CHECK CONSTRAINT [FK__tblMuonTr__mathu__5EBF139D]
GO
ALTER TABLE [dbo].[tblMuonTra]  WITH CHECK ADD FOREIGN KEY([sothe])
REFERENCES [dbo].[tblTheThuVien] ([sothe])
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [fk_sach_nxb] FOREIGN KEY([maNXB])
REFERENCES [dbo].[tblNhaXuatBan] ([maNXB])
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [fk_sach_nxb]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [fk_sach_tacgia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[tblTacGia] ([matacgia])
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [fk_sach_tacgia]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [fk_sach_theloai] FOREIGN KEY([matheloai])
REFERENCES [dbo].[tblTheLoai] ([matheloai])
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [fk_sach_theloai]
GO
ALTER TABLE [dbo].[tblCTMuonTra]  WITH CHECK ADD CHECK  (([ngaytra]<=getdate()))
GO
ALTER TABLE [dbo].[tblCTMuonTra]  WITH CHECK ADD CHECK  (([tinhtrang]=N'Hỏng' OR [tinhtrang]=N'Chưa trả' OR [tinhtrang]=N'Đã trả'))
GO
ALTER TABLE [dbo].[tblDocGia]  WITH CHECK ADD  CONSTRAINT [CK__tblDocGia__gioit__5812160E] CHECK  (([gioitinh]=N'Nam' OR [gioitinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[tblDocGia] CHECK CONSTRAINT [CK__tblDocGia__gioit__5812160E]
GO
ALTER TABLE [dbo].[tblDocGia]  WITH CHECK ADD  CONSTRAINT [CK__tblDocGia__ngays__571DF1D5] CHECK  (([ngaysinh]<=getdate()))
GO
ALTER TABLE [dbo].[tblDocGia] CHECK CONSTRAINT [CK__tblDocGia__ngays__571DF1D5]
GO
ALTER TABLE [dbo].[tblMuonTra]  WITH CHECK ADD CHECK  (([hantra]>getdate()))
GO
ALTER TABLE [dbo].[tblMuonTra]  WITH CHECK ADD CHECK  (([ngaymuon]<=getdate()))
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [CK__tblNhanVi__chucv__4E88ABD4] CHECK  (([chucvu]=N'Thủ thư' OR [chucvu]=N'Quản lý'))
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [CK__tblNhanVi__chucv__4E88ABD4]
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [CK__tblNhanVi__gioit__4D94879B] CHECK  (([gioitinh]=N'Nam' OR [gioitinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [CK__tblNhanVi__gioit__4D94879B]
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [CK__tblNhanVi__ngays__4CA06362] CHECK  (([ngaysinh]<=getdate()))
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [CK__tblNhanVi__ngays__4CA06362]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD CHECK  (([namxuatban]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[tblTheThuVien]  WITH CHECK ADD CHECK  (([ngaybatdau]<=getdate()))
GO
ALTER TABLE [dbo].[tblTheThuVien]  WITH CHECK ADD CHECK  (([ngayhethan]>=getdate()))
GO
USE [master]
GO
